html{
	margin: 0;
	padding: 0;
	font-size: 30px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
}
.container {
	border: 3px solid black;
	width: 900px;
	margin: 50px auto;
	padding: 5px;
	box-sizing: border-box; 
	display: grid;
	grid-template-areas:
	"header header"
	"aside main"
	"nav main"
	"footer footer";
	grid-template-columns: 1fr 1.5fr;
	grid-template-rows: 1fr 1fr 1.3fr;
	
}

.header{
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: header;
	background-color: #e74fff;
}


.aside {
	padding: 60px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: aside;
	background-color: #44a1ff;
}

.nav {
	padding: 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: nav;
	background-color: #ff0050;

}
.main {
	grid-area: main;
	display: flex;
	background-color: #ffc700;
	justify-content: center;
	align-items: center;
}

.footer{
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: footer;
	background-color: #8c7e82;
}

